<p><%=title%></p>
<form action='/form2' method='post'>
    username:<input  name='uname'  type='text' maxlength=6>        </input><br>
    password: <input type="password" name="pw"  title="Must contain at least one number ,one special character, one uppercase and lowercase letter and 6 characters">  
    <button type= "submit">open</button>

</form>